/* @import './_base.css'; */
/* @import './_variables.css'; */


@import './components/_logo.css';
@import './components/_button.css';
@import './components/_social.css';



@import './components/_header.css';
@import './components/_nav.css';
@import './components/_author.css';
@import './components/_order.css';
@import './components/_properties.css';
@import './components/_work.css';
@import './components/_our-team.css';
@import './components/_clients.css';

@import './components/_filtr-button.css';
@import './components/_gallery.css';

@import './components/_footer.css';
@import './components/_address.css';

@import './components/_modal.css';
@import './components/_form.css';
@import './components/_subscribe.css';

@import './utils/_visually-hidden.css';

body {
    background-color: var(--body-background);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    }
  
  .container{
  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
  .section{
    padding: 94px 0;
    }
    
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
    }
  h1,
  h2, 
  h3, 
  p{
    padding: 0;
    margin: 0;
    }
  /* базові */
  img{
    display: block;
    width: 100%;
    height: auto;
    }
  
    
    /* Базові H2 */
  .title-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
    }
  