/* @import './_base.css';
@import './_variables.css';


@import './components/_logo.css';
@import './components/_button.css';
@import './components/_social.css';



@import './components/_header.css';
@import './components/_nav.css';
@import './components/_author.css';
@import './components/_order.css';
@import './components/_properties.css';
@import './components/_work.css';
@import './components/_our-team.css';
@import './components/_clients.css';

@import './components/_filtr-button.css';
@import './components/_gallery.css';

@import './components/_footer.css';
@import './components/_address.css';

@import './components/_modal.css';
@import './components/_form.css';
@import './components/_subscribe.css';

@import './utils/_visually-hidden.css'; */


body {
    background-color: var(--body-background);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    }
  
  .container{
  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
  .section{
    padding: 94px 0;
    }
    
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
    }
  h1,
  h2, 
  h3, 
  p{
    padding: 0;
    margin: 0;
    }
  /* базові */
  img{
    display: block;
    width: 100%;
    height: auto;
    }
  
    
    /* Базові H2 */
  .title-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
    }
  
  /* Базові для логотипа */
  .logo{
    color: var(--base-logo-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .logo-web{
    color: var(--acsent-color);
  }
  .logo:hover,
  .logo:focus {
    color: var(--acsent-color);
  }


  
  .logo-foot {
    color: var(--logo-foot-color);
  
  }

  .header-logo{
    margin-right: 93px;

    }

    .order {
        max-width: 1600px;
        margin: 0 auto;
        background-color: var(--order-background);
        background-image: linear-gradient(
          to top, rgba(47,48,58,0.4), rgba(47,48,58,0.4)
        ), url(../../images/index/bgimage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
      }
      
      .order__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--order-title-color);
        margin-bottom: 30px;
      
      }